@import 'colors';

.calendar-pk {
    width: 100%;
    max-width: 100%;

    background-color: transparent;

    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;

    table-layout: fixed;

    td,
    th {
        text-align: center;
        vertical-align: middle;
    }

    > thead {
        > tr {
            background-color: $very-light-grey;
            border-bottom: 2px solid $grey;
            > th {
                line-height: 2.5em;
                border-right: 1px solid $grey;
                &:first-child {
                    border-right: 2px solid $grey;
                }
            }
        }
    }

    > tbody {
        > tr > td {
            border-bottom: 1px solid $grey;
            border-right: 1px solid $grey;
            &:first-child {
                background-color: $very-light-grey;
                border-right: 2px solid $grey;
            }
        }
    }

    // Events for the current month
    .monthview-primary {
        background-color: $red;
        color: $white;
    }

    // Events for an other month
    .monthview-secondary {
        background-color: lighten($red, 15%);
    }

    // Today date
    .monthview-current {
        font-weight: bold;
        font-size: 1.2em;
    }

    // Date from not the current month
    .text-muted {
        color: $very-dark-grey;
    }
}
