$primary: rgb(231, 74, 30);
$primary-o: rgb(24, 181, 225);

$orange: rgb(242, 161, 31);
$red: rgb(211, 65, 33);
$green: rgb(90, 154, 26);
$blue: rgb(68, 134, 223);
$purple: rgb(135, 0, 254);
$turquoise: rgb(79, 228, 179);

$dark : rgb(0, 0, 0);
$very-dark-grey: rgb(50, 50, 50);
$dark-grey: rgb(100, 100, 100);
$grey: rgb(150, 150, 150);
$light-grey: rgb(185, 185, 185);
$very-light-grey: rgb(240, 240, 240);
$white: rgb(255, 255, 255);
